* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background: linear-gradient(0deg, #765BA7, #FF1C26, #FF7AAB, #FFF875); 
    background-size: 100% 130%; 
    background-position: 0% 0%;
    animation: gradientShiftVertical 4s ease-in-out infinite;
    padding: 1rem;   
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/**
body::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: 
    radial-gradient(pink 0.5px, transparent 0.5px),
    radial-gradient(violet 0.5px, transparent 0.5px);
  background-position: 0 0, 2px 2px;
  background-size: 4px 4px;
    transform: rotate(0deg);
  opacity: 0.3;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 1;
}
**/

@keyframes gradientShiftVertical {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}






@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
h1 {
    font-family: 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 2.2rem */
   
    
}



h2{
    font-size: 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 500;
    line-height: 100%; 
    display: inline-block;
   
}

a {
    text-decoration: none; 
}

a h2 {
  color: black;
  text-decoration: underline;
  transition: color 0.1s ease;
}

a:hover h2 {
  color: #FF7AAB;
  text-decoration: underline;
}

a:visited h2 {
  color: black;
    text-decoration: none;
}

.page{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    
}
.page-content{
    display: flex;
    width: 100%;
    height: calc(100% - 2rem);
    align-items: flex-start;
    gap: 2rem;
    flex-shrink: 0;
}




.content{
  
    display: flex;
    height: 100%;
    width: calc(50% - 1rem);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
   
    animation: breathingGlow 5s ease-in-out infinite;
    position: relative;
    
}

/* ��|8 */

@keyframes breathingGlow {
  0%, 100% {
    filter: brightness(2);
  }
  50% {
    filter: brightness(0.9);
  }
}


.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    gap: 1rem;
    position: relative;
    z-index: 1;
    

}



.event{
    
    width: 50%;
   

}


/* SVG Slide*/
.svg-carousel {
  position: absolute;
  top: 0.5rem;
  max-height: calc(100% - 2rem);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 2; 
  opacity: 0.9; 
  flex-shrink: 0;

   
}

.svg-carousel.left {
  left: 0;
}

.svg-carousel.right {
  right: 0;
}

.svg-slide {
  position: absolute;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    opacity: 0;
    animation: fadeCycle 18s linear infinite;
  
}



@keyframes fadeCycle {
  0%     { opacity: 0; }
  2%     { opacity: 1; }  
  8.5%   { opacity: 1; } 
  10.5%  { opacity: 0; } 
  100%   { opacity: 0; }
}

.svg-carousel.left .slide1 { animation-delay: 0s; }
.svg-carousel.left .slide2 { animation-delay: 3s; }
.svg-carousel.left .slide3 { animation-delay: 6s; }

.svg-carousel.left .slide1.alt { animation-delay: 9s; }
.svg-carousel.left .slide2.alt { animation-delay: 11s; }
.svg-carousel.left .slide3.alt { animation-delay: 15s; }


.svg-carousel.right .slide1 { animation-delay: 0s; }    
.svg-carousel.right .slide2 { animation-delay: 4.5s; }   
.svg-carousel.right .slide3 { animation-delay: 6s; }     

.svg-carousel.right .slide1.alt { animation-delay: 10.5s; } 
.svg-carousel.right .slide2.alt { animation-delay: 12s; }   
.svg-carousel.right .slide3.alt { animation-delay: 15.5s; }   

::selection {
  background-color: #FF7AAB;
  color: white;
}


/* Footer */
.footer{
    display: inline;
    background-color: rgba(255, 255, 255, 0.0);
    left: 0;
    padding-left: 1rem;
    height: 1.8rem;
    width: 100%;
    align-content: flex-start;
    position: fixed;     
    bottom: 0;
    z-index: 99;
    backdrop-filter: blur(6px);    
  
}

@media screen and (max-width: 1240px) {
    .content{
        width: 100%;
    }
  .svg-carousel{
        height: 100%;
        max-width: 49%; 
    }
}


@media screen and (max-width: 500px) {
  
  h1{
    font-size: 1.15rem;
  }
   
    .content{
        width: 100%;
       height: calc(100% - 4rem);
       max-height: calc(100% - 4rem);
      flex-direction: column;
    }
    .svg-carousel{
        height: 100%;
        max-width: 49%; 
    }
}








